<header class="header">
  <div class="header-top">

    <div class="header-block header-block-search">
      {{date | date: 'dd.MM.yyyy'}}
    </div>

    <div class="menu" (click)="closeMenu()" >
      <li class="profile dropdown menu fa fa-align-justify">
            </li>
    </div>

    <div class="header-block header-block-nav">
      <ul class="nav-profile">

        <div
          *ngIf="user else visitor" (click)="openMenu()">
          <li class="profile dropdown" degysDropdown>
            <a class="nav-link dropdown-toggle" role="button">
                  <span class="name">
                    Здравствуйте, {{user.name}}
                  </span>
            </a>
            <div *ngIf="isOpenMenu" class="dropdown-menu profile-dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/system/bill']"> <i class="fa fa-building-o"></i> Счет </a>
              <a class="dropdown-item" [routerLink]="['/system', 'history']"> <i class="fa fa-flash"></i> История </a>
              <a class="dropdown-item" [routerLink]="['/system', 'planning']"> <i class="fa fa-archive"></i> Планирование </a>
              <a class="dropdown-item" [routerLink]="['/system', 'records']"> <i class="fa fa-plus-square"></i> Запись </a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="onLogout()">
                <i class="fa fa-power-off icon"></i>Выйти
              </a>
            </div>
          </li>
        </div>

          <ng-template #visitor>
            <li class="profile dropdown text-center" degysDropdown>
              <a class="nav-link">
                <span class="name text-center">
                  Добро пожаловать
                </span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/auth', 'login']">
                <i class="fa fa-user icon"></i>   Войти
              </a>
            </li>
            <li>
              <a [routerLink]="['/auth', 'registration']">
                <i class="fa fa-user-secret icon"></i>   Зарегистрироваться
              </a>
            </li>
          </ng-template>


      </ul>
    </div>

  </div>

  <div *ngIf="closeMen" class="header-down open">

  <div class="dropdown-menu header-down-menu" (click)="closeMenu()">
      <a class="dropdown-item header-down-menu-item" [routerLink]="['/system/bill']"> <i class="fa fa-building-o"></i> Счет </a>
      <a class="dropdown-item header-down-menu-item" [routerLink]="['/system', 'history']"> <i class="fa fa-flash"></i> История </a>
      <a class="dropdown-item header-down-menu-item" [routerLink]="['/system', 'planning']"> <i class="fa fa-archive"></i> Планирование </a>
      <a class="dropdown-item header-down-menu-item" [routerLink]="['/system', 'records']"> <i class="fa fa-plus-square"></i> Запись </a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item header-down-menu-item" (click)="onLogout()">
        <i class="fa fa-power-off icon"></i>Выйти
      </a>
    </div>

  </div>

</header>
