<div class="main-wrapper">
  <div class="app">
    <!--HEADER-->
    <degys-header></degys-header>
    <!--HEADER-->
    <!--SIDEBAR-->
    <degys-sidebar></degys-sidebar>
    <!--SIDEBAR-->
    <!--CONTENT-->
    <article class="content home-page">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        Бухгалтерия
      </div>
      <div class="text-welcome">
        <h2 class="text-h2">
          Добро пожаловать в систему <b>Домашняя бухгалтерия</b> от SerjDegys!
        </h2>
        <div class="text-description">
          <p>Данная система разработана для персонального учета личных денежных средств.
          Вносите в Домашнюю бухгалтерию все свои расходы и доходы, чтобы держать финансы под полным контролем. Стройте свои планы и составляйте бюджет.
          Планирование расходов и доходов - это залог финансового успеха.</p>
          <li>Создавайте свой счет в нужной для вас валюте. Вам будет доступен самый свежий курс, с помощю которого, вы можете увидеть ваш баланс и в других актуальных валютах.</li>
          <li>Сохраняйте и редактируйте категории трат. Устанавливайте им лимиты. С помощью удобного интерфейса записивайте собития разных типов с кратким описанием для наглядности.</li>
          <li>Просматривайте все изминения баланса счета. Вам будет доступен список всех событий разделенный по доходу, расходу, категориях  и с возможностю поиска и фильтрации.
            О всех тратах и прибыли вам сообщят живие информативные диаграмы.</li>
          <li>Функция планирования дает возможность наглядно контролировать все групы затрат и доходов и недаст вам выйти за установленые лимиты.</li>
          <p class="text-for_visitor">Если вы хотите просто протестировать Домашнюю Бухгалтерию - вы можете <a (click)="loginAsVisitor()">войти как гость</a> и увидеть все ее возможности!</p>
        </div>
      </div>
    </article>
    <!--CONTENT-->
  </div>
  <!--FOOTER-->
  <degys-footer></degys-footer>
  <!--FOOTER-->
</div>
