<footer>

  <div class="footer-left">
    <h3>SerjDegys</h3>
    <p class="footer-links">
      <a [routerLink]="['']">Home</a>
      ·
      <a [routerLink]="['/system', 'bill']">Bill</a>
    </p>
    <p class="footer-company-name">Made by SerjDegys @ 2020</p>
  </div>

  <div class="footer-center">
    <div>
      <p class="state"><i class="fa fa-map-marker"></i>    Киев, Украина</p>
    </div>
    <div>
      <p><i class="fa fa-phone"></i>    +38 097 6364097</p>
    </div>
    <div>
      <p>
        <i class="fa fa-envelope"></i><a href="#">    degyse@gmail.com</a>
      </p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>О проэкте</span>
      Проэкт создан с целью самоусовершенствования в стеке FRONT-END разработок наченающим програмистом <br> Сергеем Дегтяренко
    </p>

    <div class="footer-icons">
      <a href="https://www.facebook.com/SerjDegys"><i class="fa fa-facebook"></i></a>
      <a href="https://www.linkedin.com/in/serj-degtyarenko"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/SerjDegyS/Weather-app"><i class="fa fa-github"></i></a>
    </div>

  </div>
</footer>

