<div class="not-found">
  <div class="brand not-found-brand">
    <div class="logo">
      <span class="l l1"></span>
      <span class="l l2"></span>
      <span class="l l3"></span>
      <span class="l l4"></span>
      <span class="l l5"></span>
    </div>
    Бухгалтерия
  </div>
  <div class="not-found-welcome">
    <h2>Приветствую в системе <br><b>Домашняя бухгалтерия</b> от DEGYSe</h2>
  </div>
  <div class="not-found-text">
   <h1>Страница не найдена</h1>
  </div>
  <div class="text-center not-found-links">
    <a [routerLink]="['']">Главная</a><br>
    <a [routerLink]="['/auth/login']">Войти в систему</a>
  </div>
</div>
